div.container-fluid {
    padding-left: unset;
    padding-right: unset;
}


.navbar-custom {
    background-color: primary!important;
}

@media screen and (max-width: 768px) {
   .navbar-header {
      background-color: primary!important;
  }
}
